@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --dark-purple-color: #070724;
    --light-purple-color: #8854C0;
    --light-color: #fff;
    --dark-color: #000;
    --grey-color: #f2f2f2;
    --transition: all 300ms ease-in-out;
}

body {
    background-color: var(--dark-purple-color);
    overflow: hidden;
    background-image: url(./Stars.png);
}
main{
    height: 1000px;
}
* {
    font-family: Poppins;
}
.modelcontent model-viewer{
    height: 50%;
    width: 50%;
}

#ourmodel{
    height: 100%;
    width: 100%;
}
#ourmain{
    height: 1300px;
}
@media screen and (max-width:  1920px) {
    main{
        height: 600px;
    }
    #ourmain{
        height: 1000px;
    }
}